<div class="row padding-top-20">  
<div class="col-md-8">
    <div class="row margin-article">
      <div class="col-md-2">
        <h3><%= article.get_upvotes.size %></h3><small>votes</small><br>
        <% if article.impressions_count? == false %>
        <h3>0</h3><small>views</small><br>
        <% else %>
        <h3><%= article.impressions_count %></h3><small>views</small><br>
        <% end %>
      </div> 
      <div class="col-md-10">
        <h3><%= link_to article.title, article_path(article) %></h3>
        <%= truncate(article.description, length: 100) %>
      </div>
    </div>

    <div class = "row">
      <div class="col-md-2">
          
      </div>
      <div class="col-md-10">

      </div>
    </div>
</div>

<div class="col-md-4">
  <% if current_user == article.user %>
    <%= link_to edit_article_path(article), class: "btn btn-xs btn-default" do %>
      <i class="glyphicon glyphicon-pencil"></i> 
    <% end %>
        
    <%= link_to article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete the article?"}, class: "btn btn-xs btn-default" do %>
      <i class="glyphicon glyphicon-trash"></i> 
    <% end %>
  <% end %>
  
  <div class="article-meta-details">
    <small>Created by: <%= article.user.name if article.user%></small><br>
    <small>Created: <%= time_ago_in_words(article.created_at) %> ago</small><br>
    <small>Last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
    
  </div>
</div>

</div>
<hr>

