<div class ="jumbotron" id="browse-form">
  <%= search_form_for q, url: articles_path, method: :get, id: "form" do |f| %>
    <div class="form-group">
      <div class = "row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <%= f.search_field :title_cont, placeholder: "Find Articles", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="advanced-search hidden">
        <a class="close-advanced-search fi-x"></a>
        <div class="form-group">
          <div class ="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.search_field :user_name_cont, class: "form-control", placeholder: "Author" %>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

                  <%= f.collection_select :categories_name_in, Category.all, "name", "name", 
                                    { :include_hidden => false },
                                    { :multiple => true, 
                                      :id => "cat-dropdown-menu" } %>

            </div>
          </div>
        </div>
    </div>
    <div class="form-group">
      <%= f.hidden_field :s, value: q.s || params[:q][:s] %>
      <%= f.submit class: 'btn btn-md btn-default' %>
      <a class="show-advanced-search"> Advanced Search</a> |
      <%= link_to "Clear Search", articles_path %>
    </div>
    <% end %>

</div>

<%= select_tag "", options_for_select(Article.order_by, q.s), class: "sortBy" %>

