<div id="browse-title">
  <% if params[:q].present? == true %>
    <div style="background-color:#e0e3e4; width: 300px; height: 194px; margin:20px 0px; padding-top:10px;">
      <img class='image' style="width:300px" src="https://storage.googleapis.com/f1-project/website_images/search_results.png"> 
    </div>
  <% else %>
    <div style="background-color:#e0e3e4; width: 300px; height: 194px; margin:20px 0px; padding-top:10px;">
      <img class='image' style="width:300px" src="https://storage.googleapis.com/f1-project/website_images/browse_articles.png">
    </div>
  <% end %>
  <% if params[:q].present? == true %>
    <p><b><%= articles.count %></b> articles were found based on your criteria </p>
  <% end %>
</div>  

<div id="browse-tags">
  <h4><b>Tags:</b></h4>
  
   <% if q.title_cont.present? == true %>
    <button type="button" class = "btn btn-tag">
        <%= q.title_cont.truncate(30, omission: '... ') %> 
    </button>
   <% end %>
    
   <% if q.categories_name_in.present? == true %>
      <% q.categories_name_in.each do |name|  %>
        <button type="button"class = "btn btn-tag">
            <%= name %> 
        </button>
      <% end %>
   <% end %>
     
    <% if q.user_name_cont.present? == true %>
      <button type="button" class = "btn btn-tag">
        <%= params[:q][:user_name_cont] %>
      </button>
   <% end %>
</div>
    
<div id="browse-category">
  <h4><b>Category:</b></h4>
  <% if params[:q].present? == true %>
    <% categories.each do |category| %>
      <% c = category.articles.ransack(params[:q]).result(distinct: true).count %>
      <% if c > 0 %>
        <%= link_to articles_path('q[title_cont]' => params[:q][:title_cont],
                                         'q[categories_name_cont]' => category.name,
                                         'q[user_name_cont]' => params[:q][:user_name_cont]) do %>
          <h4><%= category.name %> (<%= c %>)</h4>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% categories.each do |category| %>
    <div class="padding-top-10">
      <h4><%= link_to "#{category.name} (#{category.articles.count})", category_path(category) %></h4>
    </div>
    <% end %>
  <% end %>
</div>
