<div class="form-horizontal">
  <%= form_for @article, id: "new_article" do |f| %>
  
    <div class="form-group">
      <div class="control-label col-sm-3 col-xs-3">
        <%= f.label :title %>
      </div>
      <div class="col-sm-9 col-xs-3">
        <%= f.text_field :title, class: "form-control", autofocus: true %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="control-label col-sm-3 col-xs-3">
        <%= f.label :description %>
      </div>
      <div class="col-sm-9 col-xs-9">
        <%= f.text_area :description, rows: 20, class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">                                                                       
      <div class="control-label col-sm-3 col-xs-3">
        <%= f.label :category %>
      </div>
      <div class="col-sm-9 col-xs-9" id="category">
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
        <% end %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="control-label col-sm-3 col-xs-3">
        <%= f.label "Do you want to publish?" %>
      </div>
      <div class="col-sm-2 col-xs-2">
        <%= f.radio_button :status, 'draft'%>
        <%= f.label :status, 'Draft' %>
      </div>
      <div class="col-sm-7 col-xs-7">
        <%= f.radio_button :status, 'published' %>
        <%= f.label :status, 'Publish' %>
      </div>
    </div>
    
    <div class="form-group padding-top-10">
      <div class="col-sm-3 col-xs-3"></div>
      <div class="col-sm-9 col-xs-9">
        <%= f.submit "Post your article", class: 'btn btn-primary btn-md' %>
      </div>
    </div>

  <% end %>
</div>

