<div id="article-form">
  <%= form_for @article, id: "new_article" do |f| %>
  
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", autofocus: true %>
    </div>
    
    <div class="form-group">
      <%= f.label :summary %>
      <%= f.text_field :summary, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.cktext_area :description, rows: 20, class: "form-control", ckeditor: { uiColor: '#cfcfcf'} %>
    </div>
    
    <div class="form-group">                                                                       
      <%= f.label :category %>
      <%= f.collection_select :category_ids, Category.all, :id, :name, {}, {:multiple => true, class: "form-control"} %>
    </div>
    
    <div class="form-group">
      <%= f.label "Do you want to publish?" %>
      <%= f.radio_button :status, 'draft', class: "margin-left-20" %>
      <%= f.label :status, 'Draft' %>
      <%= f.radio_button :status, 'published' %>
      <%= f.label :status, 'Publish' %>
    </div>
    
    <div class="form-group padding-top-10">
        <%= f.submit "Post your article", class: 'btn btn-primary btn-md' %>
    </div>

  <% end %>
</div>

