<div class = "container">
  <div class = "row" id="article">
    <h2><%= @article.title %></h2><hr>
      <div class = "col-md-9 col-xs-8">
        <div id= "article-description">
          <%= @article.description %>
        </div>
        <div id = "read-more" class="padding-top-20">
          <button class="hidden btn btn-lg">Read More</button>
        </div>
        <div class = "row padding-top-20">
          <%= render 'comments/comment', comments: @comments, article: @article %>
        </div>
      </div>

      <div class = "col-md-3 col-xs-4">
        
        <% if current_user == @article.user %>
        <p><%= link_to 'Edit', edit_article_path(@article) %> |
        <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
        
        <p>Created by: <%= @article.user.name %></p>
        <p>Created: <%= time_ago_in_words(@article.created_at) %> ago</p>
        <p>Last updated: <%= time_ago_in_words(@article.updated_at) %> ago</p>
          <% if @article.impressions_count? == false %>
            <small>0 views</small><br>
          <% elsif @article.impressions_count == 1 %>
            <small><%= @article.impressions_count %> view</small><br>
          <% else %>
            <small><%= @article.impressions_count %> views</small><br>
          <% end %>
        <h3><%= @article.get_upvotes.size %> votes</h3>
        
        <div class="padding-top-20">
        <%= link_to toggle_vote_article_path(@article.id), method: :put do %>
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Vote
          </button>
        <% end %>
        </div>
        
        <div class="padding-top-20">
        <% @article_categories.each do |category| %>
            <%= link_to "#{category.name}", category_path(category), class: "btn btn-xs btn-info btn-article-show" %>
        <% end %>
        </div>
        
      </div>
  </div>
</div>








