<div data-conversation-id="<%= conversation.id %>">
  <div class="panel panel-default" style="display: none;">
    <div class="panel-heading">
      <%= conversation.with(user).name %>
    </div>

    <div class="panel-body" id="panel-body-conversation">
      <div class="messages-list">
        <ul>
          <%= render 'conversations/conversation_content', personal_messages: conversation.personal_messages, user: user %>
        </ul>
      </div>
      
      <form class="new_message">
        <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
        <input name="user_id" type="hidden" value="<%= user.id %>">
        <textarea name="body" class="form-control"></textarea>
        <input type="submit" class="btn btn-success" value="Send">
      </form>
    </div>
  </div>
</div>


