<div class="row margin-2"> 
  <div class="col-md-1">
        <% if notification.read_at? == true %>
          <i class="glyphicon glyphicon-user icon-read"></i> 
        <% else %>
          <i class="glyphicon glyphicon-user icon-unread"></i> 
        <% end %>
  </div>
  <div class="col-md-9">
    <%= link_to notification.actor.name, user_path(notification.actor_id), class: "dropdown-item #{"unread" if !notification.read_at?}" %>
    has <%= notification.action %> to follow you
    <% if notification.notifiable.accepted == false %>
    <%= link_to "Accept",  friendship_path(id: notification.actor_id), method: "put", class: "btn btn-xs btn-default" %>
    <%= link_to "Decline", friendship_path(id: notification.actor_id), method: :delete, class: "btn btn-xs btn-default" %>
    <% end %>
  </div>
  <div class="col-md-2">
    <small><%= distance_of_time_in_words(notification.created_at, Time.now) %></small>
  </div>
</div>
<hr>