<div class="row alternate-row">
  <div class = "col-md-1 col-xs-2">
    <%= gravatar_for(follower, size: 45) %>
  </div>
  <div class = "col-md-9 col-xs-6" id="follower">
    <b><%= link_to follower.name, user_path(follower) %></b><br>
    <small><%= pluralize(follower.articles.count, "article") if follower.articles %></small>
  </div>
  <div class = "col-md-2 col-xs-4">

      <% if current_user.pending_friends.include?(follower) && current_user.requested_friendships.include?(follower)  == false %> 
        <button type="button" class="btn btn-md">Awaiting request</button>
        
      <% elsif current_user.active_friends.include?(follower) %>
        <%= link_to "Unfollow", friendship_path(current_user.friendships.find_by_friend_id(follower.id)), :method => :delete, data: { confirm: "Are you sure?" }, class:"btn btn-md btn-danger" %>
      
      <% elsif current_user.follows?(follower) == false %>
        <%= link_to "Follow", friendships_path(friend_id: follower.id), method: :post, class: "btn btn-md btn-success" %>
      <% end %>
  
  </div>
</div>
