<div class = "container-fluid">
<h3 class = "padding-bottom-40"><%= @followers.count %> people follow you</h3>
  <% @followers.each do |follower| %>
    <div class="row alternate-row">
      <div class = "col-md-1">
        <%= gravatar_helper_small follower %>
      </div>
      <div class = "col-md-9">
        <b><%= link_to follower.name, user_path(follower) %></b><br>
        <p><%= pluralize(follower.articles.count, "article") if follower.articles %></p>
      </div>
      <div class = "col-md-2">
        <% unless current_user.follows?(follower) %>
        <%= link_to "Follow", friendships_path(friend_id: follower.id), method: :post, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
