<div class="row alternate-row" id="user_<%= user.id %>">
  <div class = "col-md-1 col-sm-2 col-xs-3">
    <%= gravatar_for(user, size: 45) %>
  </div>
  <div class = "col-md-9 col-sm-6 col-xs-4">
    <b><%= link_to user.name, user_path(user) %></b><br>
    <small><%= pluralize(user.articles.count, "article") if user.articles %></small>
  </div>
  <div class = "col-md-2 col-sm-4 col-xs-5 status_buttons">
    <%= render 'users/status_buttons', user: user %>
  </div>
</div>