<div class = "container" id="following">
  <h3 class = "padding-bottom-40">You are following <%= pluralize(@following.count, 'person') %></h3>
  <% @following.each do |follow| %>
    <div class="row alternate-row" id ="following_<%= follow.id %>">
      <div class = "col-md-1 col-xs-2">
        <%= gravatar_for(follow, size: 45) %>
      </div>
      <div class = "col-md-9 col-xs-6">
        <b><%= link_to follow.name, user_path(follow) %></b><br>
        <p><%= pluralize(follow.articles.count, "article") if follow.articles %></p>
      </div>
      <div class = "col-md-2 col-xs-4">
        <%= link_to "Unfollow", friendship_path(current_user.friendships.find_by_friend_id(follow.id)), :method => :delete, remote: true, data: { confirm: "Are you sure?" }, class:"btn btn-md btn-danger" %>
      </div>
    </div>
  <% end %>
</div>