<a href="#" class="dropdown-toggle avatar-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
   <%= gravatar_for(current_user, size:30) %>
</a>
<ul class="dropdown-menu" id="mymenuContainer">
      <div id="mymenuBody">
        <ul id="mymenuList">
          <li>
            <span style= "padding-right: 20px"><%= gravatar_for(current_user, size: 30) %></span>
            <span><%= link_to "#{current_user.name}", edit_user_registration_path %></span>
          </li>
          <%= nav_helper 'span' %>
        </ul>
      </div>
      <div id="mymenuFooter">
         <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </div>
</ul>

