<nav class="navbar navbar-default">
  <div class="container-fluid">
      
    <div class="navbar-header">
      <%= link_to "Portal", root_path, class: "navbar-brand", id: "logo" %>
    </div>

      <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles</a>
          <ul class="dropdown-menu">
            <li><%= link_to "All Articles", articles_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Create New Article", new_article_path %></li>
          </ul>
        </li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item btn-group" data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
          <a class="dropdown-toggle nav-link" type="button" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class = "glyphicon glyphicon-bell"></span>
            <span data-behavior="unread-count"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">
            <!--
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            -->
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class = "glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu" style = "padding: 0px;">
            <div class = "row nav-style">
              <div class = 'col-md-2'>
                <%= gravatar_for(current_user, size: 30) %>
              </div>
              <div class = "col-md-10">
                <%= link_to "#{current_user.name}", edit_user_registration_path %>
              </div>
            </div>
            <div class = "row nav-style">
              <div class = 'col-md-2'>
                <span class = "glyphicon glyphicon-envelope" style = "font-size: 1.3em"></span>
              </div>
              <div class = "col-md-10">
                <%= link_to "My Messages", conversations_path %></span>
              </div>
            </div>
            <div class = "row nav-style">
              <div class = 'col-md-2'>
                <span class = "glyphicon glyphicon-file" style = "font-size: 1.3em"></span>
              </div>
              <div class = "col-md-10">
                <%= link_to "My Articles", user_path(current_user)%></li>
              </div>
            </div>
            <div class = "row nav-style">
              <div class = 'col-md-2'>
                <span class = "glyphicon glyphicon-star" style = "font-size: 1.3em"></span>
              </div>
              <div class = "col-md-10">
                <%= link_to "My Followers", followers_path %></li>
              </div>
            </div>
            <div class = "row nav-style">
              <div class = 'col-md-2'>
                <span class = "glyphicon glyphicon-plus" style = "font-size: 1.3em"></span>
              </div>
              <div class = "col-md-10">
                <%= link_to "Following", following_path %></li>
              </div>
            </div>
            <div class = "row nav-style">
              <div class = 'col-md-2'>
                <span class = "glyphicon glyphicon-pencil" style = "font-size: 1.3em"></span>
              </div>
              <div class = "col-md-10">
                <%= link_to "My Drafts", drafts_path %></li>
              </div>
            </div>
              <li class= "padding-top-20"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "bg-grey nav-style" %></li>
          </ul>
        </li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Register", new_user_registration_path, class: "bg-grey" %></li>
        <li><%= link_to "Login", new_user_session_path, class: "bg-grey"  %></li>
      </ul>
      <% end %>
    
  </div>
</nav>