<div class ="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        
        <% if current_user.friends.empty? == true %>
        <div class = 'jumbotron' %>
          <h4>You are currently not following any blogs. Explore other blogs now to receive their posts on your feed!</h4>
        </div> 
        <% end %>
          
        <div id = "my-feed">
          <%= render @feed %>
        </div>

         <%= will_paginate @feed, :inner_window => 1, :outer_window  => 1, :previous_label => '&larr;'.html_safe, :next_label => '&rarr;'.html_safe  %>
         
      </div>
      <div class="col-md-4">
        <div id = "recommended-users-container">
          <h4 style= "display: inline-block">Recommended users</h4>
          <span style= "margin-left: 20px"><%= link_to "Refresh", refresh_path, method: :get, remote: true %></span>
          <div class = "recommended-users-list">
            <%= render 'pages/recommended', recommended: @recommended %>
          </div>
        </div>

        <div id = "frequented-tags">
          <h4>Your frequented tags</h4>
          <% @categories.each do |category| %>
              <button type="button" class = "btn btn-tag">
                <%= category.name %> 
              </button>
          <% end %>
        </div>
        

      </div>
    </div>
</div>
