<div class="category" data-id="<%= category.id %>">
  <div class = "container">
  <h3 class= "padding-bottom-20"><%= link_to category.name, category_path(category) %></h3>
  <% div_id = "carousel_slider_#{category.id}" -%>
    <div id="<%= div_id -%>", class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="carousel-content">
            <%= render 'article', obj: category.articles.order("impressions_count DESC").limit(3) %>
          </div>
        </div>
        <div class="item">
          <div class="carousel-content">
            <%= render 'article', obj: category.articles.order("impressions_count DESC").limit(3).offset(4) %>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#<%= div_id -%>" + "#{category.name}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#<%= div_id -%>" + "#{category.name}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>