<div class = "container-fluid">
    <% if category.articles.present? == true %>
      <div class="category" data-id="<%= category.id %>">
      
        <div class= "row cat-name-header">
          <%= link_to category_path(category), class: "btn btn-lg btn-cat-index" do %>
            <%= category.name %>
          <% end %>
        </div>
      
        <div class = "category-xlg">
          <%= render 'category_xlg', category: category %>
        </div>
        
        <div class = "category-lg">
          <%= render 'category_lg', category: category %>
        </div>
        
        <div class = "category-sm">
          <%= render 'category_sm', category: category %>
        </div>
      
      </div>
      
    <% end %>
</div>